.hero-banner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/esummback.png);
    background-attachment: fixed;
    background-size: cover;

    background-repeat: no-repeat;
}

.hero-banner-icon{
    height: 500px;
}



.hero-banner .container h1{
    font-size: 6vmax;
    color: #fff;
    font-weight: 600;

}
.hero-banner .container p{
    font-size: 20px;
    font-weight: 600;
    padding-top: 1vmax;
    color: rgb(219, 219, 219);

}

.dtu{
    font-size: 2vmax;
    font-weight: 500;
    color: rgb(6, 169, 233);
}
.mon{
  color: rgb(150, 150, 150);
  font-size: 15px;
}

@media (max-width:500px){
    .hero-banner .container h1{
        font-size: 8vmax;
        color: #fff;
        font-weight: 600;

    }

    .dtu{
        font-size: 3.5vmax;
    }
}


/* ---------------------about e-summit---------------------------------- */
.abesum{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

.abesum video{
position: absolute;
 top: 100vh;
 left: 0;
 object-fit: cover;
 width: 100%;
 height: 100%;
 pointer-events: none;
}

.abesum .content{
    position: relative;
    z-index: 1;
    background-color: rgba(221, 221, 221, 0.733);
    max-width: 1000px;
    margin: 0 10px;
    text-align: center;
}

.abesum .head h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: rgb(0, 0, 0);



}

.abesum .text p{
    margin: 0;
    padding: 0;

}

/* ================counter================ */
.fact-area{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.rowfac{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.fact-box{
    box-shadow: 0px 20px 50px rgba(153,153, 153, 0.2);
    width: 100%;
}
.single-fact{
    text-align: center;
    width: 32%;
    max-width: 400px;
    margin: 45px 0;
    padding:8px 16px;
    border-right: 1px solid #ddd;
}
@media (max-width:400px){
    .single-fact{
        text-align: center;
        width: 350px;

        margin: 45px 0;
        padding:8px 16px;
        border-right: 1px solid #ddd;
    }
}

.single-fact h2{
    font-size: 36px;
    margin-top: 10px;
    font-weight: 500;
}

.single-fact p{
    font-size: 14px;

}

.fa-user-tie{
    color: royalblue;
}

.fa-university{
    color: saddlebrown;
}

.fa-briefcase{
 color: seagreen;
}



/*/ end count stats /*/
 /* ============================================photo gallery=========================================== */
.phga{
    padding: 30px 0;
}
 .phga h1{
     text-transform: capitalize;
     font-size: 50px;
     font-weight: 700;


 }
 html, body {
    position: relative;
    height: 100%;
    width: 100%;
  }
  body {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height:70%;
    width: 60%;
  }
  .gallery-thumbs {
    height: 20%;
    width: 60%;

    box-sizing: border-box;
    padding: 10px 0;
  }
  @media(max-width:660px){
    .gallery-top {
        height: 70%;
        width: 80%;
      }
      .gallery-thumbs {
        height: 20%;
        width: 80%;

        box-sizing: border-box;
        padding: 10px 0;
      }
  }

  @media(max-width:450px){
    .gallery-top {
        height: 60%;
        width: 100%;
      }
      .gallery-thumbs {
        height: 10%;
        width: 80%;

        box-sizing: border-box;
        padding: 10px 0;
      }
  }
  .gallery-thumbs .swiper-slide {
    height: 100%;
    width: 60%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }


  /* =================================speaker---======================================= */

.speaker{
    background-image: url(/image/esummit\ speaker/spback.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;

}

.speaker .insitehead{
    color: #fff;

    font-size: 50px;
    font-weight: 700;
}
  .esumsp{
      display: flex;
      justify-content: center;
      align-items: center;


  }

  .esumsp .containersp{
      position: relative;
      width: 100%;
      min-height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 30px 0;

  }

  .esumsp .containersp .cardsp{
      position: relative;
      max-width: 300px;
      height: 275px;
      background: #fff;
      margin: 30px 10px;
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
      transition: 0.3s ease-in-out;
  }
  .esumsp .containersp .cardsp .imgbxsp{
      position: relative;
      width: 260px;
      height: 260px;
      top: -60px;
      padding: 0;
      margin: 0;
      left: 5px;
      z-index: 1;
      box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  }
  .esumsp .containersp .cardsp:hover{
      height: 420px;
  }
  .esumsp .containersp .cardsp .imgbxsp img{
      height: 100%;
      width: 100%;
      border-radius: 4px;

  }
  .esumsp .containersp .cardsp .contentsp{
      position: relative;
      margin-top: -140px;
      padding: 10px 15px;
      text-align: center;
      color: #111;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s ease-in-out;
  }
  .esumsp .containersp .cardsp:hover .contentsp{
      visibility: visible;
      opacity: 1;
      margin-top: -40px;
      transition-delay: 0.2s;
  }
  .esumsp .headsp{
      text-align: center;
      position: relative;
      top: -50px;
      background-color: rgba(84, 139, 201, 0.616);
      padding: 0;
      color: rgb(255, 255, 255);
      margin: 0;
      font-size: 20px;
      border-radius: 2px 12px;
  }

  .esumsp .containersp .cardsp:hover .headsp{
    text-align: center;
    position: relative;
    top: -5px;
    font-size: 20px;
    transition-delay: 0.2s;
  }

  /* ======================================day schedule tabs================================ */

.daysch{
    width: 100%;
    min-height: 100vh;
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 20vh;
}

.eventsch h1{
    font-size: 50px;
    font-weight: 600;
}
.slidesday {
position: relative;
height: auto;
}
.slidesday .slideday {
position: absolute;
top: 0;
width: calc(33% - 2em);
max-height: 3.5em;
margin: 0.5em;
padding: 1em;
background: #34495e;
color: white;
float: left;
overflow: hidden;
transition: max-height 0.25s ease-in-out, width 0.25s 0.25s ease-in-out, left 0.25s 0.5s ease-in-out, top 0.25s 0.75s ease-in-out;
}
.slidesday .slideday:nth-child(1) {
left: 0%;
background:#dbdbdb;;

}
.slidesday .slideday:nth-child(2) {
left: 33.3333%;
background:  #dbdbdb;;
}
.slidesday .slideday:nth-child(3) {
left: 66.6666%;
background: #dbdbdb;
}
.slidesday .slideday > a {
display: block;
padding-bottom: 1em;
text-transform: uppercase;
text-decoration: none;
text-align: center;
font-weight: 700;
color: rgb(0, 0, 0);
transition: color 2s;
}
.slidesday .slideday.active {
position: relative;
top: 4.5em;
left: 0;
background-color: rgba(0, 0, 0, 0.911);
width: 100% ;
max-height: 400vh;

float: none;
transition: top 0.25s 1s ease-in-out, left 0.25s 1.25s ease-in-out, width 0.25s 1.5s ease-in-out, max-height 0.25s 1.75s ease-in-out;
}
.slidesday .slideday.active a {

font-size: 30px;
color: white;
transition-delay: 0.3s;

}


.containerday {
width: 90vw;
max-width: 100%;



}

/* =========day schedule cards======= */
.contentday{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.contentday .cardcont{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.contentday .cardcont .cardday{
    position: relative;

    background: #fff;
    display: flex;

    width: 70vw;
    height: auto ;
    margin:  20px;
}
.contentday .cardcont .cardday .mainday{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;

}
.contentday .cardcont .cardday:hover .mainday{
    width: 150px;
    height: 150px;
    left: -100px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #006280;

}

.contentday .cardcont .cardday .mainday:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    text-align: center;
    font-size: 6em;
    color: rgba(255,255,255,.1);
    font-weight: 700;
}
.contentday .cardcont .cardday .mainday img{
    max-width: 100px;
    transition: 0.5s ease-in-out;

}
.contentday .cardcont .cardday:hover .mainday img{
    max-width: 75px;


}



.contentday .cardcont .cardday .textday{
    color: rgba(0, 0, 0);
     text-align: center;

     filter: blur(3px);
     transition: 0.5s;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   padding: 10px;

}

.contentday .cardcont .cardday:hover .textday{
    filter: blur(0px);
}

.contentday .cardcont .cardday .textday h1{
    margin-bottom: 5px;

    font-size: 24px;
}
.contentday .cardcont .cardday .textday p{
  font-size: 12px;
  padding: 0 50px;
}

/* =====media quaries */
@media (max-width:991px){
    .contentday .cardcont .cardday:hover .mainday{
        width: 100px;
        height: 100px;
        left: -50px;
        top: calc(50% - 50px);
        transition: 0.5s ease-in-out;
        background: #006280;

    }
    .contentday .cardcont .cardday .mainday:before{
        content: attr(data-text);
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 100%;

        text-align: center;
        font-size: 4em;
        color: rgba(255,255,255,.1);
        font-weight: 700;
    }
}

@media (max-width:560px){
    .contentday .cardcont .cardday{
        max-width: 500px;
        flex-direction: column;
        height: auto;
    }
    .contentday .cardcont .cardday .mainday{
        position: relative;
        top: 0;

    }
    .contentday .cardcont .cardday .mainday,

    .contentday .cardcont .cardday:hover .mainday{
        width: 100%;
        height: 200px;
        left: 0;
        top: 0;

    }

    .contentday .cardcont .cardday .mainday img,

    .contentday .cardcont .cardday:hover .mainday img{
        max-width: 100px;

    }
    .contentday .cardcont .cardday .textday{
        position: relative;
        width: 100%;

    }

    .contentday .cardcont .cardday .mainday:before{
        content: attr(data-text);
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;

        text-align: center;
        font-size: 4em;
        color: rgba(255,255,255,.1);
        font-weight: 700;
    }

    .contentday .cardcont .cardday .textday h1{
        margin-bottom: 5px;

        font-size: 24px;
    }
    .contentday .cardcont .cardday .textday p{
      font-size: 12px;
      padding: 0 2px;
    }

}



/* =======================================why attend============================== */
.whinsitehead{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.whinsitehead h1{
    font-size: 50px;
    font-weight: 600;

}

.whatt{
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    padding-top: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: rgb(230, 230, 230);
}

.whatt .container{
    max-width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s;

}

.whatt .container .card{
     position: relative;
     max-width: 27vw;
     border-radius: 0;
     border: 0;
     margin: 0;
     height: 380px;
     background: #fff;
     display: flex;
     justify-content: center;
     transition: 0.5s;
     align-items: center;
}
@media (max-width:991px){
    .whatt .container .card{
        position: relative;
        max-width: 70vw;
        border-radius: 0;
        border: 0;
        margin: 0;
        height: 280px;
        background: #fff;
        display: flex;
        justify-content: center;
        transition: 0.5s;
        align-items: center;
   }
}
@media (max-width:350px){
    .whatt .container .card{
        position: relative;
        max-width: 70vw;
        border-radius: 0;
        border: 0;
        margin: 0;
        height: auto;
        background: #fff;
        display: flex;
        justify-content: center;
        transition: 0.5s;
        align-items: center;
   }
}
.whatt .container:hover .card{
    filter: blur(3px);
    transform: scale(0.9);

}

.whatt .container .card:hover{
    filter: blur(0px);
    transform: scale(1);
    z-index: 100;
}

.whatt .container .card:before{
    content: '';
    position: absolute ;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
}

.whatt .container .card:hover:before{
    background: #000;
    transform: scaleY(1.15);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}

.whatt .container .card .content{
    text-align: center;
    z-index: 2;
    padding: 0 20px;
    transition: 0.5s;
}

.whatt .container .card:hover .content{
   color: #fff;
}

.whatt .container .card .content h2{
    font-size: 2.1em;
    font-weight: 600;
}

.whatt .container .card .content p{
    font-size: 0.96em;
}
