html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #eee;

    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }

  .swfirst{
      height: 50%;
      display: flex;
      background-image: url(../image/SW\ back.jpg) ;
      background-size: cover;
     background-position: center;
      background-repeat: no-repeat;
      justify-content: center;

      background-attachment: fixed;
      align-items: center;
      text-align: center;
  }


  .swfirst .content{

      padding: 1px 3px;
  }
  .swfirst .content h2{
      font-size: 6vw;
      color: rgb(255, 255, 255);
      background-color: rgba(0, 0, 0, 0.349);

  }
  .swfirst .content p{
      font-size: 1.4vw;
      letter-spacing: 20px;
      background-color: rgba(3, 105, 57, 0.589);
      color: rgb(255, 255, 255);
      padding-bottom: 3px;
      font-weight: 500;
  }



  /* ---------------------------------------------------------css small devices---------------------------------------------------------------- */

  .daycard{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      min-height: 85vh;

  }



  .swday{
      margin: 0;
      padding: 0;
      display: flex;
      justify-items: center;
      justify-content: center;
      align-items: center;






  }

  .swday .card{
      position: relative;
      width: 300px;
      height: 400px;

      background: #000;
      overflow: hidden;

  }

  .swday .card input {
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 20px;
      right: 20px;
      outline: none;
      z-index: 10;
  }

  .swday .card .swtoggle{
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 20px;
      right: 20px;
      outline: none;
      z-index: 10;
  }

  .dayhead{

      color: #fff;
      background-color: rgb(0, 0, 0);
      text-align: center;
      justify-content: center;
  }


  .swday .card input{
      opacity: 0;
  }

  .swday .card .swtoggle{
      pointer-events: none;
      border-radius: 50%;
      background: #fff;
      transition: 0.5s;
      text-align: center;

      line-height: 43px;
      font-size: 36px;
      box-shadow: 0 0 0 0px #ffffff;
  }

  .swday .card input:checked ~ .swtoggle{
      box-shadow: 0 0 0 500px #008559;
      transform: rotate(135deg);
  }


  .swday .card {

      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .swday .card .mntext{
      color: #fff;
      font: 1.7vw;
      text-transform: capitalize;
      font-weight: 300;
      letter-spacing: 5px;


  }

  .swday .card .swcontent{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      z-index: 11;
      pointer-events: none;
      transition: 0.5s;
      opacity: 0;

  }
  .swday .card input:checked ~ .swcontent{
     opacity: 1;
      transition-delay: 0s;
  }

  .swday .card .swcontent{
      margin: 0;

      color: #fff;
  }

  /* ---------------------media quaery------------------------------- */
  @media (max-width: 991px){

      .swday .card{
          position: relative;
          width: 250px;
          height: 350px;

          background: #000;
          overflow: hidden;

      }
      .swfirst .content h2{
          font-size: 6vw;
      }
      .swfirst .content p{
          font-size: 2vw;
          letter-spacing: 20px;

          font-weight: 500;
      }

  }

      @media (max-width: 660px){

          .swday .card{
              position: relative;
              width: 250px;
              height: 300px;

              background: #000;
              overflow: hidden;

          }

          .swday .card .swtoggle{
              position: absolute;
              width: 25px;
              height: 25px;
              bottom: 20px;
              right: 20px;
              outline: none;
              z-index: 10;
          }

          .swday .card .swtoggle{
              pointer-events: none;
              border-radius: 50%;
              background: #fff;
              transition: 0.5s;
              text-align: center;

              line-height: 23px;
              font-size: 18px;
              box-shadow: 0 0 0 0px #ffffff;
          }


          .swfirst .content h2{
              font-size: 13vw;
          }
          .swfirst .content p{
              font-size: 4vw;
              letter-spacing: 10px;

              font-weight: 500;
          }



  }




  /* -----------------------------------------------------css large devices-------------------------------------------------- */


.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swdaylg{
      margin: 0;
      padding: 0;
      display: flex;
      justify-items: center;
      justify-content: center;
      align-items: center;
      min-height: 70%;
      padding: 30px;
      flex-direction: row;



  }

  .swdaylg .card{
      position: relative;
      width: 300px;
      height: 400px;

      background: #000;
      overflow: hidden;

  }

  .swdaylg .card input {
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 20px;
      right: 20px;
      outline: none;
      z-index: 10;
  }

  .swdaylg .card .swtoggle{
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 20px;
      right: 20px;
      outline: none;
      z-index: 10;
  }

  .dayheadlg{
      position: absolute;
      top: 60px;

      text-align: center;
      justify-content: center;
  }


  .swdaylg .card input{
      opacity: 0;
  }

  .swdaylg .card .swtoggle{
      pointer-events: none;
      border-radius: 50%;
      background: #fff;
      transition: 0.5s;
      text-align: center;

      line-height: 43px;
      font-size: 36px;
      box-shadow: 0 0 0 0px #ffffff;
  }

  .swdaylg .card input:checked ~ .swtoggle{
      box-shadow: 0 0 0 500px #008559;
      transform: rotate(135deg);
  }

  .dayheadlg{
      display: inline-block !important;
      text-transform: capitalize;
      font-size: 5vw;
  }

  .swdaylg .card {

      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .swdaylg .card .mntext{
      color: #fff;
      font: 1.7vw;
      text-transform: capitalize;
      font-weight: 500;
      background-color: rgba(0, 0, 0, 0.171);
      letter-spacing: 5px;


  }

  .swdaylg .card .swcontent{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      z-index: 11;
      pointer-events: none;
      transition: 0.5s;
      opacity: 0;

  }
  .swdaylg .card input:checked ~ .swcontent{
     opacity: 1;
      transition-delay: 0s;
  }

  .swdaylg .card .swcontent{
      margin: 0;

      color: #fff;
  }

  /*--------------------------------------------------media quaery full------------------------------------------------  */

  @media (max-width: 1120px){
      .swiper-container{
          display: none;

      }

  }

  @media (min-width: 1121px){
      .smsw{
          display: none;
      }
  }
